:root{
    --body-bg: #fafafa;
    --body-color: #555;
    --link-color: #222;
    --link-color-hover: #ec5840;
}
.dark-mode:root{
    --body-bg: #212529;
    --body-color: #899095;
    --link-color: #dee2e6;
    --link-color-hover: #3cc368;
}
body{
    font-family: Nunito, sans-serif;
    background-color: var(--body-bg);
    color: var(--body-color);
    width: 50%;
    text-align: center;
    margin: auto;
}
a{
    color: var(--link-color);
}
a:hover{
    color: var(--link-color-hover);
}
#checkBox{
    float: right;
    width: 40%;
}
h3{

}
div{
    display: flex;
    text-align: center;
    align-items: center;
    width: 80%;
    margin: auto;
}